<center>
    {% for message in messages %}
        <h3 style="color:green">{{message}}<h3>
    {% endfor %}
    <form action = "create" method = 'POST'>
    {% csrf_token %}
        <h1>Create Your Note Here </h1>
        <br>
        <p>Title</p>
        <input type = "text" name = "title" />
        <br>
        <p>Content</p>
        <textarea  name="content" rows="20" cols="100">
            
        </textarea>
        <br><br>
        <input type = "submit" value = "Create" />
        <br><br>
    </form>
</center>